<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    ">
    <context:annotation-config /><!--注册 BeanPostProcessor的方式,用以处理各种注解-->

    <bean id="person" class="com.sso.entity.manual.model.Person" init-method="initMethod" destroy-method="destroyMethod"></bean>

</beans>