<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.entity.manual.mapper.ResourceSecurityMapper">
    <resultMap id="ResourceResultMap" type="com.sso.entity.manual.model.SecurityResource">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="request_path" jdbcType="VARCHAR" property="requestPath" />
        <result column="request_type" jdbcType="VARCHAR" property="requestType" />
        <result column="java_class" jdbcType="VARCHAR" property="javaClass" />
        <result column="short_method" jdbcType="VARCHAR" property="shortMethod" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <collection property="listRole" resultMap="RoleResultMap" />
    </resultMap>
    <resultMap id="RoleResultMap" type="com.sso.entity.manual.model.SecurityRole">
        <id column="role_id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <select id="queryResourcesAndRoles"  resultMap="ResourceResultMap" parameterType="java.util.Map" >
        SELECT r.`id`,
        r.`request_path`,
        r.`request_type`,
        r.`java_class`,
        r.`short_method`,
        r.`method`,
        ro.`id` `role_id`,
        ro.`role_name`
        FROM
        `sys_resource` AS r
        LEFT JOIN `sys_role_resource` AS rr ON rr.`resources_id`=r.`id` AND rr.`type`=1
        LEFT JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        <if test="resourcesName != null">
            WHERE  r.`resources_name`= #{resourcesName,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="queryAllResourcesAndRoles"  resultMap="ResourceResultMap">
        SELECT r.`id`,
        r.`resources_name`,
        r.`resources_type`,
        r.`resource_path`,
        r.`description`,
        r.`enable`,
        r.`parent_id`,
        ro.`id` `role_id`,
        ro.`role_name`,
        ro.`enable`
        FROM
        `sys_resource` AS r
        LEFT JOIN `sys_role_resource` AS rr ON rr.`resources_id`=r.`id`
        LEFT JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
    </select>
</mapper>