<?xml version="1.0" encoding="utf8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sso.entity.manual.mapper.SecurityResourceMapper">
    <resultMap id="ResourceResultMap" type="com.sso.entity.manual.model.SecurityResource">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="app_id" jdbcType="INTEGER" property="appId" />
        <result column="request_path" jdbcType="VARCHAR" property="requestPath" />
        <result column="request_type" jdbcType="VARCHAR" property="requestType" />
        <result column="java_class" jdbcType="VARCHAR" property="javaClass" />
        <result column="short_method" jdbcType="VARCHAR" property="shortMethod" />
        <result column="method" jdbcType="VARCHAR" property="method" />
        <collection property="listRole" resultMap="RoleResultMap" />
    </resultMap>
    <resultMap id="RoleResultMap" type="com.sso.entity.manual.model.SecurityRole">
        <id column="role_id" jdbcType="INTEGER" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    </resultMap>

    <select id="queryResourcesAndRoles"  resultMap="ResourceResultMap" parameterType="java.util.Map" >
        SELECT r.`id`,
        r.`app_id`,
        r.`request_path`,
        r.`request_type`,
        r.`java_class`,
        r.`short_method`,
        r.`method`,
        ro.`id` `role_id`,
        ro.`role_name`
        FROM
        `sys_resource` AS r
        INNER JOIN `sys_role_resource` AS rr ON rr.`resources_id`=r.`id` AND rr.`type`=1
        INNER JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        <where>
            <choose>
                <when test="queryType='method'">
                    r.`method` = #{queryKey,jdbcType=VARCHAR}
                </when>
                <when test="queryName='resourcePath' ">
                    r.`resource_path` = #{queryKey,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    r.`resource_path` = #{queryKey,jdbcType=VARCHAR}
                </otherwise>
            </choose>
            AND ro.`enable`=1 AND r.`enable`=1
        </where>
    </select>
    <select id="queryResourcesAndRolesForGroup" resultMap="ResourceResultMap" parameterType="java.util.Map">
        SELECT
            r.`id`,
            r.`request_path`,
            r.`request_type`,
            r.`java_class`,
            r.`short_method`,
            r.`method`,
            ro.`id` `role_id`,
            ro.`role_name`
        FROM
        `sys_resource_group` AS rg
        INNER JOIN `sys_resource_group_relation` AS rgr ON rgr.`resource_group_id`=rg.`id`
        INNER JOIN `sys_resource` AS r  ON rgr.`resources_id`=r.`id`
        INNER JOIN `sys_role_resource` AS rr ON rr.`resources_id`=rg.`id` AND rr.`type`=2
        INNER JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        <where>
            <choose>
                <when test="queryType='method'">
                    r.`method` = #{queryKey,jdbcType=VARCHAR}
                </when>
                <when test="queryName='resourcePath' ">
                    r.`resource_path` = #{queryKey,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    r.`resource_path` = #{queryKey,jdbcType=VARCHAR}
                </otherwise>
            </choose>
            AND ro.`enable`=1 AND r.`enable`=1 AND  rg.`enable`=1
        </where>
    </select>

    <select id="queryResourcesAndRolesById"  resultMap="ResourceResultMap" parameterType="int" >
        SELECT r.`id`,
        r.`app_id`,
        r.`request_path`,
        r.`request_type`,
        r.`java_class`,
        r.`short_method`,
        r.`method`,
        ro.`id` `role_id`,
        ro.`role_name`
        FROM
        `sys_resource` AS r
        INNER JOIN `sys_role_resource` AS rr ON rr.`resources_id`=r.`id` AND rr.`type`=1
        INNER JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        WHERE  r.`id` = #{id,jdbcType=INTEGER} AND ro.`enable`=1 AND r.`enable`=1
    </select>

    <select id="queryAllResourcesAndRoles" resultMap="ResourceResultMap" parameterType="java.util.Map">
        SELECT
            r.`id`,
            r.`app_id`,
            r.`request_path`,
            r.`request_type`,
            r.`java_class`,
            r.`short_method`,
            r.`method`,
            ro.`id` `role_id`,
            ro.`role_name`
        FROM
        `sys_resource` AS r
        INNER JOIN `sys_role_resource` AS rr ON rr.`resources_id`=r.`id` AND rr.`type`=1
        INNER JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        <where>
            <if test="queryType != null">
                <choose>
                    <when test="queryType='id'">
                        r.`id` = #{id,jdbcType=INTEGER}  AND
                    </when>
                    <when test="queryType='method'">
                        r.`method` = #{queryKey,jdbcType=VARCHAR}   AND
                    </when>
                    <when test="queryName='resourcePath' ">
                        r.`resource_path` = #{queryKey,jdbcType=VARCHAR}  AND
                    </when>
                    <otherwise>
                        r.`resource_path` = #{queryKey,jdbcType=VARCHAR}  AND
                    </otherwise>
                </choose>
            </if>
            <if test="appId != null">
                 r.`app_id` = #{appId,jdbcType=INTEGER} AND
            </if>
              ro.`enable`=1 AND r.`enable`=1
        </where>
        UNION
        SELECT
            r.`id`,
            r.`app_id`,
            r.`request_path`,
            r.`request_type`,
            r.`java_class`,
            r.`short_method`,
            r.`method`,
            ro.`id` `role_id`,
            ro.`role_name`
        FROM
         `sys_resource_group` AS rg
        INNER JOIN `sys_resource_group_relation` AS rgr ON rgr.`resource_group_id`=rg.`id`
        INNER JOIN `sys_resource` AS r  ON rgr.`resources_id`=r.`id`
        INNER JOIN `sys_role_resource` AS rr ON rr.`resources_id`=rg.`id` AND rr.`type`=2
        INNER JOIN  `sys_role` AS ro ON ro.`id`=rr.`role_id`
        <where>
            <if test="queryType != null">
                <choose>
                    <when test="queryType='id'">
                        r.`id` = #{id,jdbcType=INTEGER}  AND
                    </when>
                    <when test="queryType='method'">
                        r.`method` = #{queryKey,jdbcType=VARCHAR}   AND
                    </when>
                    <when test="queryName='resourcePath' ">
                        r.`resource_path` = #{queryKey,jdbcType=VARCHAR}  AND
                    </when>
                    <otherwise>
                        r.`resource_path` = #{queryKey,jdbcType=VARCHAR}  AND
                    </otherwise>
                </choose>
            </if>
            <if test="appId != null">
                r.`app_id` = #{appId,jdbcType=INTEGER} AND
            </if>
            ro.`enable`=1 AND r.`enable`=1
        </where>
    </select>
</mapper>